
body {        
    font-family: 'Titillium Web', sans-serif;
    background-color: #FFFCFA;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: 'giddyup-std', sans-serif;
}

main {
    padding: 30px;
}

header {
    background-color: goldenrod;
    height: 110px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 100%;
    object-fit: contain;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
}

h2 {
    font-size: 1.5rem;
}

footer {
    background-color: gold;
    padding: 10px;
}

.animal-image-sect {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}